/* ------- */
/* 共通 */
/* ------- */
html {
  font-size: 100%;
}
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #333333;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 30px auto;
}
h1, h3 {
  font-weight: 600;
}
h4 {
  font-size: 16px;
  margin: 5px;
}
a {
  color: #333333;
}
li {
  font-size: 14px;
}
.margin_top10 {
  margin-top: 10px;
}
.margin_left20 {
  margin-left: 20px;
}

/* ------- */
/* Home */
/* ------- */
#home {
  position: relative;
  height: 600px;
  background-image: url("../img/top.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-link {
  font-size: 18px;
}

.h1_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.h1_text p {
  text-align: center;
  color: #fff;
  font-size: 45px;
}

.h1_text h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
}


/* ------- */
/* Profile */
/* ------- */
#profile {
  background: #fff;
}

.profile_inner {
  width: 1100px;
  max-width: calc(100% - 20px);
  padding: 40px;
  margin: 0 auto;
}

.profile_img {
  height: 300px;
  position: relative;;
}

.profile_img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.profile_text_inner {
  text-align: left;
  padding: 60px 40px 40px;
}


/* ------- */
/* Skills */
/* ------- */
#skills {
  background: #e9ecef;
}

.skills_inner {
  width: 1100px;
  max-width: calc(100% - 20px);
  padding: 40px;
  margin: 0 auto;
}

.item_skill {
  /* width: 200px; */
  height: 300px;
}

.item_skill div {
  height: 260px;
  padding: 20px;
  background-color: #fff;
}


/* ------- */
/* Works */
/* ------- */
#works {
  background: #fff;
}

.works_inner {
  width: 1100px;
  max-width: calc(100% - 20px);
  padding: 40px;
  margin: 0 auto;
}

.item_works {
  margin: 20px auto;
}

.item_works_inner {
  background-color: #e9ecef;
  padding: 20px;
}

.works_1 {
  height: 260px;
  margin: 20px;
  background-color: #123;
  background-image: url(/img/portfolio.png);
  background-size: cover;
}

.works_2 {
  height: 260px;
  margin: 20px;
  background-color: #123;
  background-image: url(/img/isara.png);
  background-size: cover;
}
.works_3 {
  height: 260px;
  margin: 20px;
  background-color: #123;
  background-image: url(/img/work3.png);
  background-size: cover;
}


/* ------- */
/* Contact */
/* ------- */
#contact {
  background: #e9ecef;
}

.contact_inner {
  width: 1100px;
  max-width: calc(100% - 20px);
  padding: 40px;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  margin: 30px auto;
}


/* ------- */
/* Footer */
/* ------- */
footer {
  color: #fff;
  height: 80px;
  background: #343a40;
  text-align: center;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
}

footer p {
  margin: 0;
  padding: 0;
}


/* レスポンシブル */
@media screen and (max-width: 600px) {
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 0.9rem;
  }
  #home {
    height: 300px;
  }
  .h1_text {
    width: 90%;
  }
  .h1_text p {
    font-size: 24px;
  }
  .h1_text h1 {
    font-size: 36px;
  }
  .profile_text_inner {
    padding: 20px 0 0;
  }
  .profile_img img {
    margin: 20px auto 20px;
  }
  .profile_img {
    height: 240px;
  }
  .item_skill {
    height: auto;
    margin: 10px auto;
  }
  .item_skill div {
    height: auto;
  }
  .skills_inner {
    padding: 20px;
  }
  .item_works {
    margin: 20px auto;
  }
  .works_inner {
    padding: 20px;
  }
  .contact_inner {
    padding: 10px;
  }
  
}